<%= form_for wiki do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 12, class: 'form-control' %>
    <!-- <div id="epiceditor"> -- f.hidden_field :body, id: "body" -- </div> -->
  </div>

  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox nudge-right-20' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-default' %>
  </div>

  <!-- epic editor -->

  <script>
    var editor = new EpicEditor().load();
    var showEditor = (editor.getElement('editor').body.innerHTML = '<%= escape_javascript(@wiki.body) %>');
    function prep() {
      $("#body")[0].value = showEditor;
    }
  </script>
<% end %>