<h1>
  All Wikis
  <% if policy(Wiki.new).create? %>
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default nudge-up-5' %>
  <% end %>
</h1>

<div class="pull-right nudge-down-10">
  <%= will_paginate @wikis %>
</div>

<br/><br/>

<% @wikis.each do |wiki| %>
  <div class="highlighter-gray wiki-index-display">
    <h4>
      <%= link_to wiki.title, wiki_path(wiki) %>
      <span class="badge nudge-up-3"><%= wiki.private? ? 'Private' : '' %></span>
    </h4>
    <small class="nudge-up-10"><%= wiki.subtitle %></small>
    <br/>
    <small class="nudge-up-12 text-dark-gray"><i>Created <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %> | Updated <%= time_ago_in_words(wiki.updated_at) %> ago by <%= wiki.updated_by %></i></small>
  </div>
<% end %>

<%= will_paginate @wikis %>

<br/><br/>