<h1>
    <%= @wiki.title %>
    <%= @wiki.private == true ? '(Private)' : '' %>
    <% if policy(@wiki).edit? %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-default nudge-up-5' %>
    <% end %>
    <% if policy(@wiki).destroy? %>
      <%= link_to "Delete", @wiki, class: 'btn btn-default nudge-up-5', method: :delete, data: { confirm: "Are you sure you want to delete this wiki?" } %>
    <% end %>
</h1>
<h3><%= @wiki.subtitle %></h3>
<small>Created at: <%= @wiki.created_at %> | Last update: <%= @wiki.updated_at %></small>

<hr>

<p><%= @wiki.body %></p>